/* Rules for sass */
@import url(media.css);
@import url(Framework.css);
/* end Rules for sass */
/* Start Global rules */
* {
  -webkit- box-sizing: border-box;
  -moz- box-sizing: border-box;
  -o- box-sizing: border-box;
  -ms- box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

/* End Global rules */
/* First Section */
.first {
  background: url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  -webkit- background-size: cover;
  -moz- background-size: cover;
  -o- background-size: cover;
  -ms- background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100vh; }
  .first nav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
    .first nav .logo {
      position: relative;
      top: 29px;
      width: 30%;
      float: left; }
    .first nav ul {
      width: 70%;
      float: left; }
      .first nav ul li {
        outline: 0;
        display: inline-block; }
        .first nav ul li:last-of-type a {
          padding: 0; }
        .first nav ul li:hover:not(:last-of-type) {
          border-bottom: 2px solid #f15d44; }
        .first nav ul li a {
          outline: 0;
          display: block;
          padding: 8px;
          color: #fff;
          text-decoration: none;
          font-family: monospace;
          font-size: 19px;
          font-weight: bold; }
        .first nav ul li button {
          outline: 0;
          background: transparent;
          color: #fff;
          padding: 11px 25px;
          border-left: 2px solid #eb3c5a;
          border-right: 2px solid #f67831;
          border-top: 2px solid #eb3c5a;
          border-bottom: 2px solid #f67831;
          font-family: monospace;
          font-size: 17px;
          letter-spacing: 2px;
          cursor: pointer; }
  .first .menu {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    position: relative;
    right: 19px;
    top: 18px; }
    .first .menu .logo {
      float: left;
      position: relative;
      left: 31px; }
    .first .menu svg {
      font-size: 38px;
      cursor: pointer;
      float: right; }
  .first .list {
    border-radius: 4px;
    display: none;
    background: #222;
    width: 100%;
    padding: 13px;
    position: fixed;
    top: 57px;
    z-index: 9; }
    .first .list ul {
      width: 100%;
      float: left; }
      .first .list ul li {
        text-align: center;
        outline: 0;
        display: block;
        transition: all .5s ease-in-out; }
        .first .list ul li:hover {
          background: #f15d44;
          width: 100%;
          margin-bottom: 10px;
          border-radius: 4px; }
        .first .list ul li a {
          letter-spacing: 3px;
          outline: 0;
          display: block;
          padding: 8px;
          color: #fff;
          text-decoration: none;
          font-family: monospace;
          font-size: 19px;
          font-weight: bold;
          line-height: 2; }
  .first .caption {
    text-align: left;
    font-family: sans-serif;
    color: #fff;
    position: relative;
    top: 149px; }
    .first .caption p {
      font-weight: bold;
      color: #f15d44;
      letter-spacing: 3px; }
      .first .caption p:first-of-type {
        margin-bottom: -28px; }
      .first .caption p:last-of-type {
        color: #fff;
        font-family: sans-serif;
        width: 50%; }
    .first .caption h2 {
      font-size: 4em;
      margin-bottom: 0; }

/* About us */
.about {
  padding-top: 100px;
  padding-bottom: 100px; }
  .about .img {
    position: relative;
    width: 50%;
    float: left; }
    .about .img img {
      height: 364px; }
    .about .img img:last-of-type {
      width: 90px;
      height: 90px;
      position: absolute;
      left: 201px;
      top: 106px; }
  .about .right {
    width: 50%;
    float: left; }
    .about .right h2 {
      font-family: sans-serif;
      font-weight: 900;
      letter-spacing: 2px;
      font-size: 27px; }
    .about .right p {
      font-family: sans-serif;
      letter-spacing: 2px;
      line-height: 1.4;
      color: #6b6b6b; }

/* third section */
.third .left {
  width: 50%;
  float: left;
  height: 619px; }
  .third .left img {
    width: 100%;
    height: 100%; }
.third .right {
  width: 50%;
  float: left;
  height: 619px; }
  .third .right .part1 {
    height: 100%;
    padding: 18px 11px;
    background: #1e1e1e;
    width: calc(100%/2);
    float: left; }
    .third .right .part1 .row {
      margin-bottom: 59px; }
      .third .right .part1 .row h2 {
        color: #fff;
        font-family: sans-serif; }
      .third .right .part1 .row p {
        color: #bdbdbd;
        font-family: sans-serif;
        line-height: 2;
        letter-spacing: 1.8px; }
  .third .right .part2 {
    height: 100%;
    padding: 18px 11px;
    background: #141414;
    width: calc(100%/2);
    float: left; }
    .third .right .part2 .row {
      margin-bottom: 59px; }
      .third .right .part2 .row h2 {
        color: #fff;
        font-family: sans-serif; }
      .third .right .part2 .row p {
        color: #bdbdbd;
        font-family: sans-serif;
        line-height: 2;
        letter-spacing: 1.8px; }

/* UNLIMITED CLASSES */
.classes {
  padding: 61px 0 61px; }
  .classes h2.unlimit {
    text-align: center;
    font-family: sans-serif;
    letter-spacing: 3px;
    margin-bottom: 40px; }
  .classes .large .item {
    display: none; }
    .classes .large .item.active {
      display: block; }
    .classes .large .item .row {
      width: 100%; }
      .classes .large .item .row .person {
        margin-right: 1%;
        float: left;
        position: relative;
        width: 32.33333%; }
        .classes .large .item .row .person img {
          position: relative;
          width: 100%;
          height: 332px; }
        .classes .large .item .row .person .overlay {
          padding: 0 26px;
          position: absolute;
          top: 230px;
          background: rgba(0, 0, 0, 0.5);
          width: 100%;
          text-align: left; }
          .classes .large .item .row .person .overlay h2 {
            font-family: sans-serif;
            color: #fff; }
          .classes .large .item .row .person .overlay p {
            color: #fff;
            font-family: sans-serif; }
            .classes .large .item .row .person .overlay p svg {
              color: #e85d39;
              font-size: 18px;
              margin-right: 7px; }
  .classes .large ul li {
    border-radius: 50%;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 2px solid #f67831;
    display: inline-block;
    margin: 2px;
    transition: all .5s ease-in-out; }
    .classes .large ul li.active {
      background: #f67831; }
  .classes .small .row {
    display: none;
    width: 100%; }
    .classes .small .row.active {
      display: block; }
    .classes .small .row .person {
      position: relative;
      width: 100%; }
      .classes .small .row .person img {
        position: relative;
        width: 100%;
        height: 332px; }
      .classes .small .row .person .overlay {
        padding: 0 26px;
        position: absolute;
        top: 230px;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        text-align: left; }
        .classes .small .row .person .overlay h2 {
          font-family: sans-serif;
          color: #fff; }
        .classes .small .row .person .overlay p {
          color: #fff;
          font-family: sans-serif; }
          .classes .small .row .person .overlay p svg {
            color: #e85d39;
            font-size: 18px;
            margin-right: 7px; }
  .classes .small ul li {
    padding: 0 !important;
    border-radius: 50%;
    cursor: pointer;
    width: 20px;
    height: 20px !important;
    background: transparent;
    border: 2px solid #f67831;
    display: inline-block;
    margin: 2px;
    transition: all .5s ease-in-out; }
    .classes .small ul li.active {
      background: #f67831;
      height: 20px !important;
      padding: 0 !important; }

/* EXPERT TRAINERS*/
.expert {
  width: 100%;
  background: #f5f5f5;
  padding: 30px 0 100px;
  height: 100vh; }
  .expert h2 {
    font-size: 23px;
    font-family: sans-serif;
    letter-spacing: 2px; }
  .expert .trainer {
    margin-top: 98px;
    margin-right: 2%;
    width: 31.3333%;
    float: left;
    position: relative; }
    .expert .trainer img {
      width: 100%;
      height: 100%; }
    .expert .trainer .title {
      cursor: default;
      background: #fff;
      position: absolute;
      top: 295px;
      border-radius: 5px;
      width: 95%;
      left: 9px;
      box-shadow: 1px 1px 8px #00000029; }
      .expert .trainer .title ul li {
        display: inline-block;
        padding: 10px; }
        .expert .trainer .title ul li svg {
          font-size: 22px;
          cursor: pointer; }
          .expert .trainer .title ul li svg:hover {
            color: #e85d39; }
      .expert .trainer .title span {
        font-family: sans-serif;
        color: #e85d39;
        display: block;
        font-weight: bold;
        margin-bottom: 17px; }
      .expert .trainer .title p {
        font-family: sans-serif;
        color: #6b6b6b;
        display: none;
        width: 79%;
        margin: auto; }
      .expert .trainer .title ul {
        display: none; }

/* GET TRAINING TODAY */
.get {
  background: url("../img/banner-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 20px 0 0; }
  .get .left {
    width: 50%;
    float: left;
    margin-top: 20px;
    padding-top: 120px; }
    .get .left h2 {
      color: #fff;
      font-size: 30px;
      font-family: sans-serif;
      letter-spacing: 2px; }
    .get .left p {
      color: #fff;
      font-family: sans-serif;
      font-size: 20px;
      line-height: 1.5;
      margin-bottom: 26px; }
    .get .left button {
      transition: all .5s ease-in-out; }
      .get .left button:hover {
        background: #fff;
        color: #333;
        border: 1px solid #f67831; }
  .get .right {
    width: 50%;
    float: left; }

/*MEMBERSHIP Plans*/
.MEMBERSHIP {
  padding: 44px 0 78px; }
  .MEMBERSHIP h2 {
    font-family: sans-serif;
    font-size: 30px;
    margin-bottom: 50px; }
  .MEMBERSHIP .plans {
    z-index: 0;
    width: 31.3333%;
    margin-right: 2%;
    float: left;
    background: #fff;
    box-shadow: 0px 15px 49px rgba(0, 0, 0, 0.15);
    padding-bottom: 26px; }
    .MEMBERSHIP .plans button.primary {
      outline: 0;
      width: 100%;
      font-family: sans-serif;
      font-weight: bold;
      padding: 28px 10px;
      background: linear-gradient(to right, #eb3c5a 0%, #f67831 100%), linear-gradient(to right, #eb3c5a 0%, #f67831 100%);
      border: 1px solid #e85d39;
      color: #fff;
      position: relative; }
      .MEMBERSHIP .plans button.primary:after {
        position: absolute;
        content: "";
        border-top: 15px solid #f67831;
        border-bottom: 15px solid transparent;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        top: 74px;
        left: 50%; }
    .MEMBERSHIP .plans h2 {
      margin-bottom: 10px;
      color: #f67831;
      font-size: 33px; }
      .MEMBERSHIP .plans h2 span {
        color: #6b6b6b;
        font-size: 16px; }
    .MEMBERSHIP .plans ul li {
      color: #6b6b6b;
      font-family: sans-serif;
      line-height: 2.6;
      letter-spacing: 2px; }
      .MEMBERSHIP .plans ul li span {
        color: #333;
        font-weight: bold; }
    .MEMBERSHIP .plans button.finally {
      font-family: sans-serif;
      padding: 12px 36px;
      background: transparent;
      color: #333;
      font-weight: bold;
      cursor: pointer;
      outline: 0;
      transition: all 1000ms ease-in-out;
      border: 2px solid #eb3c5a; }
      .MEMBERSHIP .plans button.finally:hover {
        background: linear-gradient(to right, #eb3c5a 0%, #f67831 100%), linear-gradient(to right, #eb3c5a 0%, #f67831 100%);
        color: #fff;
        border-color: transparent; }

/* register now */
.register {
  background: #f5f4f4;
  width: 100%;
  padding-top: 362px;
  margin-top: -244px;
  padding-bottom: 144px;
  height: auto; }
  .register .left {
    width: 60%;
    float: left;
    background: #fff;
    padding: 21px;
    padding-bottom: 51px;
    height: 572.5px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px; }
    .register .left h2 {
      font-family: sans-serif;
      font-size: 30px;
      color: #333; }
    .register .left p {
      color: #6b6b6b;
      font-family: sans-serif;
      letter-spacing: 2px;
      margin-bottom: 63px; }
    .register .left .form {
      width: 50%;
      float: left;
      margin-top: 15px; }
      .register .left .form label {
        display: block;
        margin-bottom: 15px;
        color: #9b9b9b;
        font-family: sans-serif; }
      .register .left .form input {
        margin-bottom: 16px;
        padding: 11px 48px;
        border: 1px solid #ebebeb;
        outline: 0; }
    .register .left button {
      padding: 20px 10px;
      margin-top: 30px; }
  .register .right {
    width: 40%;
    float: left; }
    .register .right img {
      width: 100%;
      height: 572.5px; }

/* LATEST BLOG */
.BLOG h2 {
  font-family: sans-serif;
  font-size: 30px; }
.BLOG .part {
  margin-top: 50px;
  width: 30.3333%;
  float: left;
  margin-left: 3%; }
  .BLOG .part img {
    width: 100%;
    height: 100%; }
  .BLOG .part span {
    position: relative;
    top: 21px; }
    .BLOG .part span:first-of-type {
      color: #bdbdbd;
      font-family: sans-serif;
      margin-right: 10px; }
    .BLOG .part span:last-of-type {
      font-family: sans-serif;
      color: #f15d44; }
  .BLOG .part h2 {
    color: #333;
    font-size: 30px;
    margin-top: 39px; }

/* NEW MEMBER */
.NEW {
  margin-top: 105px; }
  .NEW .left {
    width: 50%;
    float: left;
    background: url("../img/footer-banner/footer-banner-1.jpg");
    background-repeat: no-repeat;
    height: 401px;
    position: relative; }
    .NEW .left .combine {
      position: absolute;
      background: rgba(0, 0, 0, 0.17);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding-top: 10%; }
      .NEW .left .combine span {
        padding-left: 40px;
        color: #f15d44;
        font-family: sans-serif;
        font-size: 18px;
        font-weight: bold; }
      .NEW .left .combine h2 {
        padding-left: 40px;
        color: #fff;
        font-size: 30px;
        font-family: sans-serif; }
      .NEW .left .combine p {
        padding-left: 40px;
        color: #fff;
        font-size: 18px;
        font-family: sans-serif; }
      .NEW .left .combine button {
        margin-left: 40px; }
  .NEW .right {
    position: relative;
    width: 50%;
    float: left;
    background: url("../img/footer-banner/footer-banner-2.jpg");
    background-repeat: no-repeat;
    height: 401px; }
    .NEW .right .combine {
      position: absolute;
      background: rgba(0, 0, 0, 0.17);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding-top: 10%; }
      .NEW .right .combine span {
        padding-left: 40px;
        color: #f15d44;
        font-family: sans-serif;
        font-size: 18px;
        font-weight: bold; }
      .NEW .right .combine h2 {
        padding-left: 40px;
        color: #fff;
        font-size: 30px;
        font-family: sans-serif; }
      .NEW .right .combine p {
        padding-left: 40px;
        color: #fff;
        font-size: 18px;
        font-family: sans-serif; }
      .NEW .right .combine button {
        margin-left: 40px; }

/* Footer */
.footer {
  padding-bottom: 80px;
  background: #111111;
  width: 100%;
  height: auto;
  margin-top: -2px;
  padding-top: 54px; }
  .footer .row {
    width: 33.3333%;
    float: left; }
    .footer .row span {
      color: #f15d44;
      font-family: sans-serif;
      font-size: 18px;
      font-weight: bold; }
    .footer .row p {
      color: #fff;
      font-family: sans-serif;
      font-size: 18px; }
  .footer .imge_footer {
    margin-top: 30px;
    background: url(../img/footer-signup.jpg);
    width: 100%;
    background-repeat: no-repeat;
    height: 120px;
    background-size: cover; }
    .footer .imge_footer .left {
      width: 50%;
      float: left; }
      .footer .imge_footer .left h2 {
        padding-left: 20px;
        color: #fff;
        font-family: sans-serif;
        font-size: 25px;
        margin-bottom: 2px; }
      .footer .imge_footer .left p {
        padding-left: 20px;
        color: #fff;
        font-family: sans-serif;
        font-size: 18px; }
    .footer .imge_footer .right {
      width: 50%;
      float: left; }
      .footer .imge_footer .right .form {
        position: relative; }
        .footer .imge_footer .right .form input {
          outline: 0;
          border: 1px solid #ebebeb;
          padding: 13px 28px;
          margin-top: 31px;
          margin-left: 59px;
          font-family: sans-serif; }
        .footer .imge_footer .right .form .icon {
          background: linear-gradient(to right, #eb3c5a 0%, #f67831 100%), linear-gradient(to right, #eb3c5a 0%, #f67831 100%);
          width: 66px;
          height: 47px;
          position: absolute;
          top: 30px;
          right: 193px; }
          .footer .imge_footer .right .form .icon svg {
            top: 15%;
            color: #fff;
            font-size: 32px;
            left: 25%;
            position: absolute; }
  .footer .final .info {
    width: 22.5%;
    float: left; }
    .footer .final .info:first-of-type {
      width: 55%; }
    .footer .final .info:last-of-type {
      color: #fff; }
      .footer .final .info:last-of-type ul li {
        width: 20%;
        background: #282828;
        border-radius: 50%;
        cursor: pointer;
        transition: all .5s ease-in-out;
        height: 20%;
        line-height: 40%;
        text-align: center; }
        .footer .final .info:last-of-type ul li:hover {
          background: linear-gradient(to right, #eb3c5a 0%, #f67831 100%), linear-gradient(to right, #eb3c5a 0%, #f67831 100%); }
        .footer .final .info:last-of-type ul li svg {
          font-size: 18px;
          margin: 9px; }
    .footer .final .info p {
      color: #fff;
      font-family: sans-serif;
      font-size: 17px;
      position: relative;
      top: 11px; }
    .footer .final .info .pargraph {
      margin-left: 27px; }
    .footer .final .info .privacy {
      margin-top: -39px;
      margin-left: 142px; }
    .footer .final .info ul li {
      display: inline-block; }

/*# sourceMappingURL=main.css.map */
